<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css"> 
		</head>
		<body>
			<nav>
	    		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/Research">Research</a></li>
	        	<li><a href="/CV">CV</a></li>
			<li><a href="/Python">Python</a></li>
			<li><a href="/SOCCOM">SOCCOM Work</a></li>
			<br>
			<a href="http://soccom.princeton.edu">
				<img src="images/SOCCOM.png" style="border:0px;margin:0px;float:left;" width="80" height="80"> </a>
			<a href="https://scripps.ucsd.edu/">
				<img src="images/SIOlogo.png" style="border:0px;margin:0px;float:left;"  width="200" height="70"></a>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="svbrand@ucsd.edu">svbrand@ucsd.edu</a></li>
	        		<li><a href="https://github.com/sawyerbrand">github.com/sawyerbrand</a></li>
				</ul>
			</footer>
		</body>
	</html>
