<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
				<img src="images/SOCCOM.png" alt="Girl in a jacket" width="500" height="600">
				<img src="images/SIOLogo.png" alt="Girl in a jacket" width="500" height="600">
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/About">About</a></li>
				<li><a href="/Research">Research</a></li>
	        		<li><a href="/CV">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="svbrand@ucsd.edu">svbrand@ucsd.edu</a></li>
	        		<li><a href="https://github.com/sawyerbrand">github.com/sawyerbrand</a></li>
				</ul>
			</footer>
		</body>
	</html>
